<div class="add-todo">

    <form action="/todo" class="add-todo-form" method="post">

        <div class="form-group form-title">

            <label for="title">
                Title
            </label>

            <input
            id="title" 
            type="text"
            class="form-control"
            name="title"
            placeholder="What do you want todo?"
            />

        </div>

        <button type="submit" class="btn btn-primary">
            add todo
        </button>

    </form>

</div>